.App {
  background-color: #282c34;
  padding: 16px;
  min-height: 100vh;
}
.title {
  font-size: 36px;
  color: #ffffff;
}

.ligne {
  display: flex;
}
.card {
  width: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  min-height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-right: 16px;
}
